:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5pt;
    color: white;
}

.app-cluster-button{
    border-radius: 10pt !important;
    padding: 10pt;

    mat-icon {
        height: 80% !important;
        width: 80% !important;
        fill:gold;
    }
}
