<button
  class="app-cluster-button"
  mat-fab
  color="primary"
  (click)="handleOnButtonClick()"
  [cdkContextMenuTriggerFor]="contextMenu">
  <mat-icon svgIcon="book-icon"></mat-icon>
</button>
<span>{{ clusterTitle }}</span>

<ng-template #contextMenu>
  <div class="menu-container" cdkMenu>
    <button class="menu-item" cdkMenuItem><mat-icon svgIcon="edit-icon"></mat-icon> Edit</button>
    <button (click)="onClusterDelete()" class="menu-item" cdkMenuItem><mat-icon svgIcon="bin-icon"></mat-icon> Delete</button>
  </div>
</ng-template>
