:host{
    display: flex;
    width: 100%;
    height: 100%;
}
dialog{
    background-color: #656CA5;
    border: none !important;
    border-radius: 10pt;
}
dialog::backdrop {
    backdrop-filter: blur(5px);
  }
  