:host {
    display: flex;
    background-color: #2F3044;
    flex: 0.1;
    gap: 20pt;
    padding-top: 10pt;
    flex-direction: column;
    align-items: center;
}
.app-cluster-button{
    border-radius: 10pt !important;

    mat-icon {
        height: 80% !important;
        width: 80% !important;
        fill:gold;
    }
}